.dashboard-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.sidebar {
    background-color: #0784eb;
    color: #fff;
    grid-row: 1 / 3;
}

.header {

}

.main-content {
    background-color: #e2e8f0;
}
